#sidebar {
  float: left;
  padding-top: 40px;
  min-width: 180px;
  margin: 0 auto;
}

#sidebar a:hover,
#sidebar a:focus{
  text-decoration: none
}

#sidebar li {
  list-style: none;
  line-height: 20px
}

#sidebar>.primary {
  margin: 0;
  padding: 0
}

#sidebar>.primary>li {
  margin: 11px 0 0px 0
}

#sidebar>.primary>li>a {
  height: 16px
}

.active {
  font-weight: 600;
  color: #222222;
  /* Disables the link completely instead of just cursor: default; */
  pointer-events: none;
  text-decoration: none;
}
